{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 48.73067653813779,
        "longitude": 21.2459610697988,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Greenhouse",
        "time_zone": "Europe/Bratislava",
        "external_url": null,
        "internal_url": null
    }
}